* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: #ddd;
  font-family: "Raleway", sans-serif;
}

#main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 400px;
  background-color: #bcc6cc;
  margin: 150px auto;
  border-radius: 10px;
}

h1 {
  background-color: #151b54;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px 0 10px 0;
  font-weight: 700;
}

.box .box-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.box-img img {
  width: 270px;
  height: 200px;
}

.box-img img.win-img {
  width: 220px;
  height: 200px;
}

.win-img {
  display: none;
}

.box h2 {
  color: #151b54;
  text-align: center;
  padding-bottom: 10px;
}

.player-one,.player-two {
  text-align: center;
  padding: 15px 50px;
}

.player-one-input,.player-two-input {
  width: 100%;
  color: #823eca;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #151b54;
  font-size: 16px;
}

.player-one-err,.player-two-err {
  color: red;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 0;
}
.player-one-btn,.player-two-btn,.restart {
  padding: 8px 40px;
  background: #151b54;
  color: #ddd;
  border-radius: 10px;
  margin: 20px 0 50px 0;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #151b54;
  transition: all linear 0.4s;
}

.player-one-btn:hover,.player-two-btn:hover,.restart:hover {
  background: #fff;
  color: #151b54;
}

.player-two h3 {
  color: #151b54;
  padding-bottom: 15px;
}

.restart {
  display: none;
  margin: 20px auto;
}

.player-two {
  display: none;
}
